@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.mainContent {
    width: 100%;

}

.cards {
    width: 90%;
    margin: 0 auto;
    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-family: 'Noto Serif Telugu', serif;
    font-family: 'Source Code Pro', monospace;
}

p, li, .btn {
    font-weight: 400;
    font-family: 'Noto Serif Telugu', serif;
    font-family: 'Source Code Pro', monospace;
}

a {
    font-weight: 400;
    font-family: 'Noto Serif Telugu', serif;
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

